.product-image {
    object-fit: contain !important;
}

.navbar a {
    color: white !important;
    font-weight: 600px;
    font-size: 18px;
    font-family: monospace;
}

.footer {
    height: 68px;
    background-color: #1976d2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
    color:antiquewhite;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 36px;
    margin: 20px 8px;
    cursor: pointer;
}

.pagination > button {
    cursor: pointer;
}

.pagination-numbers {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.pagination-numbers > li {
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.311);
    cursor: pointer;
    font-size: 24px;
}

.proceed-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(38, 93, 196);
    border-radius: 5px;
    font-size: 32px !important;
    height: 56px;
    padding: 0 !important;
}

.proceed-btn > * {
    color: whitesmoke
}

.btn {
    width: 200px;
    font-size: 18px !important;
    height: 56px;
    padding: 6px;
}

.btn-add-to-cart {
    background-color: rgb(118, 164, 249) !important;;
    font-size: 24px !important;
    height: 56px;
    padding: 6px;
}

.btn-add-to-wishlist {
    background-color: rgb(240, 241, 238) !important;;
}

.checkout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.checkout-totals {
    width: 45%;
    margin: 60px 0;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.disabled-checkbox {
    cursor: not-allowed !important;
}

.checkout-btn {
    background: rgb(38, 93, 196) !important;
    border-radius: 5px !important;
    font-size: 32px !important;
    color: whitesmoke !important;
    width: 300px;
}

.comments-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column !important;
    
}
.comments-textfield {
    width: 400px;
}
.comments-actions > button{
    width: 200px;
    height: 56px;
    background-color: azure;
}

.comment-card {
    width: 100%;
    font-size: 18px;
}

.checkout-btn:disabled {
    background: grey !important;
}