.product-image {
    object-fit: contain !important;
}

.navbar a {
    color: white !important;
    font-weight: 600px;
    font-size: 18px;
    font-family: monospace;
}

.footer {
    height: 68px;
    background-color: #1976d2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 24px;

}

.pagination > li {
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.311);
    cursor: pointer;
}

.proceed-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(38, 93, 196);
    border-radius: 5px;
    font-size: 32px !important;
    height: 56px;
    padding: 0 !important;
}

.proceed-btn > * {
    color: whitesmoke
}

/* .wrapper {
    height: calc(100vh - 136px);
} */

.checkout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.checkout-totals {
    width: 45%;
    margin: 60px 0;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.disabled-checkbox {
    cursor: not-allowed !important;
}

.checkout-btn {
    background: rgb(38, 93, 196) !important;
    border-radius: 5px !important;
    font-size: 32px !important;
    color: whitesmoke !important;
    width: 300px;
}